{% extends "index.html" %}
{% load staticfiles %}

{% block set_page %}
var activeId = 'link-bilder';
{% endblock %}

{% block sidebar %}
	<ul class="taglist">
	{% for tag in tags %}
		<li class="taglist-tag" >
			<a href="#"> {{ tag.name }} </a>
		</li>
	{% endfor %}
	</ul>
{% endblock %}

{% block main %}
	<h1>Photos!</h1>
	<div class="photo-grid" >
	{% for photo in photos %}
		<div class="photo-thumbnail" >
			<a href="#">
				<img src="{{ photo.image_thumbnail.url }}" />
			</a>
		</div>
	{% endfor %}
	</div>
{% endblock %}
